
:root {
    --bg-image: url(images/games-1.jpg) 70%;
}

body {
	position: relative;
	background: var(--bg-image);
	font-family: "Courier New", Courier, monospace;
    color: #33ff33;
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.blinking {
    text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

#instruction, #alerts {
	text-align: center;
	font-size: 12px;
}

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	background-color: #282828;
	padding: 20px;
	margin: 10px;
}

#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 20px;
}

#general-display {
	text-align: center;
	font-size: 16px;
}